/* General */

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Headers & Links */

h1 {
  font-size: 4.9vw;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-size: 3.9vw;
  font-weight: 200;
  margin: 0;
}

h3 {
  font-size: 2.5vw;
  font-weight: 200;
  margin: 1.5vw 0 1.5vw 0;
}

h4 {
  font-size: 1.7vw;
  font-weight: 200;
  margin: 1vw 0 1vw 0;
}

p {
  font-size: 1.4vw;
  font-weight: 200;
  margin: 0.5vw 0 0.5vw 0;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

/* Navigation */

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3vw 3vw 1vw 3vw;
  background-color: white;
  font-size: 1.9vw;
  z-index: 1;
}

.nav-container-1,
.nav-container-2 {
  display: flex;
  gap: 2vw;
}

.nav-container-1 a {
  color: black;
}

#schedule,
#login {
  color: blue;
}

#language {
  color: green;
}

/* Main */

main {
  margin: 0 3vw 9vw 3vw;
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
  margin-top: 1vmin;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 6vw;
}

.block-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vmin;
}

.block-column-3,
.block-column-3-full-width {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3vw;
  width: 100%;
}

.block-column-3 li {
  font-size: 1.4vw;
  margin: 0.5vw 0 0.5vw 0;
}

.block-column-3 a,
.block-column-3-full-width a {
  color: blue;
}

.block-column-4 {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3vw;
  width: 100%;
}

.block-column-4 li {
  font-size: 1.4vw;
  font-weight: 200;
  margin: 0.5vw 0 0.5vw 0;
}

.block-column-4 h3 {
  font-size: 1.8vw;
}

/* Home */

.home {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 94vw;
  bottom: 3vw;
}

/* Studio */

.studio {
  margin-top: 100vh;
  width: 100%;
  display: flex;
  gap: 1vmin;
}

.studio img {
  width: 30vw;
  height: auto;
  flex-grow: 1;
}

/* Teachers */

/* Lessons */

/* Pricing */

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1vmin;
}

.button-item-1 {
  flex-grow: 1;
}

.button-item-2 {
  flex-grow: 2;
}

.button-item-3 {
  flex-grow: 3;
}

button {
  padding: 3vmin;
  background-color: #f2f2f2;
  color: black;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5vw;
}

#trial {
  background-color: green;
  color: white;
}

/* Contact */

footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 6vw;
}

.footer-container {
  display: flex;
  justify-content: start;
  gap: 5vw;
  width: 50%;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

footer li {
  font-size: 1.1vw;
  font-weight: 200;
  margin: 0.5vw 0 0.5vw 0;
}

.sustainable {
  font-size: 2.5vw;
}

/* Mobile Devices */

@media only screen and (max-width: 850px) {
  /* General */

  /* Headers & Links */

  h1 {
    font-size: 15vw;
  }

  h2 {
    font-size: 10vw;
  }

  h3 {
    font-size: 6vw;
    margin: 4vw 0 4vw 0;
  }

  h4 {
    font-size: 5vw;
    margin: 3vw 0 3vw 0;
  }

  p {
    font-size: 4.5vw;
    margin: 2vw 0 2vw 0;
  }

  /* Navigation */

  nav {
    padding: 3vw 3vw 3vw 3vw;
    font-size: 9vw;
  }

  .nav-container-1 {
    display: none;
  }

  .nav-container-2 {
    justify-content: space-between;
    width: 94vw;
  }

  #login {
    display: none;
  }

  /* Main */

  main {
    margin: 0 3vw 3vw 3vw;
    gap: 3vw;
  }

  .block {
    gap: 3vw;
  }

  .title {
    padding: 14vw;
  }

  .block-row {
    flex-wrap: wrap;
    gap: 3vw 3vw;
  }

  .block-column-3-full-width {
    text-align: left;
  }

  .block-column-3 {
    text-align: left;
    width: 45.5vw;
    overflow-wrap: break-word;
    hyphens: manual;
  }

  .block-column-3 li {
    font-size: 4.5vw;
    margin: 2vw 0 2vw 0;
  }

  span.mbr {
    display: table;
  }

  .block-column-4 {
    padding: 7vw;
    width: 45.5vw;
  }

  .block-column-4 li {
    font-size: 4.5vw;
    margin: 2vw 0 2vw 0;
  }

  /* Home */

  /* Studio */

  .studio {
    flex-wrap: wrap;
    gap: 3vw;
  }

  .studio img {
    width: 94vw;
  }

  /* Teachers */

  /* Lessons */

  /* Pricing */

  .block-column-4 h3 {
    font-size: 6vw;
  }

  .button-container {
    flex-wrap: wrap;
    gap: 3vw;
    width: 100%;
  }

  .button-item-1,
  .button-item-2 {
    width: 94vw;
  }

  button {
    padding: 3vw;
    font-size: 5vw;
  }

  #jeugd,
  #subscription {
    display: none;
  }

  /* Contact */

  footer {
    flex-wrap: wrap;
    padding: 9vw;
    gap: 9vw;
  }

  .footer-container {
    flex-wrap: wrap;
    gap: 9vw;
    width: 100%;
  }

  .footer-column {
    width: 100%;
  }

  footer li {
    font-size: 4vw;
    margin: 2vw 0 2vw 0;
  }

  .sustainable {
    font-size: 4vw;
  }
}
